@font-face {
    font-family: 'FloralOne';
    src: url('FloralOne.woff2') format('woff2'),
        url('FloralOne.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

