@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'FloralOne';
  src: url('../public/fonts/FloralOne.woff2') format('woff2'),
       url('../public/fonts/FloralOne.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.floral-text {
  font-family: 'FloralOne', sans-serif;
}
